.beneficiary {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 862px;
  margin: 70px 0px;

  &__title {
    font-size: 38px;
    line-height: 55px;
  }

  &__decoration {
    margin: 20px;
  }

  &__description {
    max-width: 640px;
    font-size: 22px;
    line-height: 30px;
    margin: 50px auto;
  }

  &__objects-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &__object {
    width: 208px;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    border: none;
    &--active {
      border: 0.75px solid $color-font;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-font-secondary;
    font-family: $font-alt;
    padding: 40px 0px;
    &:last-child {
      border: none;
    }
  }
}
.item {
  &__data {
    text-align: left;
  }
  &__name {
    font-size: 26px;
    line-height: 31px;
    font-weight: 300;
    font-family: $font-alt;

  }
  &__description {
    font-size: 18px;
    line-height: 22px;
    font-family: $font-alt;

  }
  &__needs {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    font-family: $font-alt;

  }
}
.pagination {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.page {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  &--active {
    border: 0.75px solid $color-font;
}
}
