.lowerNav-container {
  margin: 20px 0;
}

.lowerMenuLink {
  font-size: 18px;
  display: inline;
  color: $color-font;
  line-height: 24px;
  padding: 13px;
  margin-left: 20px;
  cursor: pointer;
  &--active {
    border: 0.75px solid $color-font;
  }
}
