body {
  font-family: $font-base;

}
.button {
  border: 0.75px solid $color-font;
  padding: 13px;
  text-decoration: none;
  color: $color-font;
  cursor: pointer;
}
.container {
  max-width: 1652px;
  width: 100%;
  margin: 0 auto;
}
.App {
  position: relative;
  text-align: center;
}
.title {
  font-size: 38px;
  line-height: 55px;
}

.decoration {
  margin: 20px;
}